#addItems{
 
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
    background-image: url("/ToDoProject/notesimage.jpg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 400px;
    height:500px;
    border:solid 2px rgb(41, 33, 33);
    
    background-repeat: no-repeat;   
  background-size: cover;

}
.checkbox {
  position: fixed;
  margin-top: 0.1em;
  margin-left: -2em;
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}
.checkbox.done {
  background-color:rgb(33, 124, 215);;
}
.detail {
  flex:1;
}


.btn-section{
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);

}

.completed,
.active,
 .all  {
  left: 50%;
  top: 52%;

  padding:10px;

  background-color: rgb(33, 124, 215);
  color:white;
  border: 1px solid white;
  border-radius: 2px;
}

.btn-section.completed .completed,
.btn-section.active .active,
.btn-section.all .all {
  background-color:rgb(18, 91, 165);;
    color: white;
}

.detail.done {
    text-decoration: line-through;
}

.newTask{
  
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);


  }

  .counter-task{
    position: fixed;
  left: 50%;
  top: 45%;
  background-color: rgb(33, 124, 215);
  transform: translate(-50%, -50%);
  color: white;
  }
  



.todoInput{
  height:30px;

  
}



#addToDo , .remove{

  background-color: rgb(33, 124, 215);
  color:white;
  border: 1px solid white;
  border-radius: 2px;
  margin-left: 0.3em;
  padding:5px;
 

}
#addToDo{
  height: 40px;
}

.remove:hover{
  background-color: red;
  transform:scale(1.2);
  
}

#title {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

ul {
 
  list-style-type: none;
margin: 0 auto;
  font-size: 20px;
  position: relative;
  display: block;
width: 100%;
height:100%;
 
}
ul li{
  margin:5px;
}

label{
 justify-content: center;
 margin-left: -0.5em;
 color:black;
}



